.sidebar {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    
    width: 280px;
    padding: 0 8px;
}

.bookSettings {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 24px;

    width: 100%;
}

.heading {
    font-size: x-large;
}

main {
    /* background-color: beige; */
    flex-grow: 1;
    border-radius: 1rem;
    background-color: hsl(var(--muted));
}